@charset "UTF-8";

/*----------------------------------------------
variable
----------------------------------------------*/

$color-key:#0042ff;
$color-sub:#ff2400;
$color-base:#999;

$fontsize-base:10px;
$fontcolor-base:#333;
$fontfamily-base: '-apple-system', 'BlinkMacSystemFont', 'Open Sans', "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$line-height:1.6;
$text-margin-bottom:15px;

$site-width:1110px;
$glid-space:15px;
$maxcol:12;
$glid-width: $site-width + $glid-space * 2;

@mixin media_query_pc{
  @media (min-width: $site-width){
    @content;
  }
}
@mixin media_query_tablet{
  @media (min-width: 768px) and (max-width: $site-width - 1){
    @content;
  }
}
@mixin media_query_sp{
  @media (max-width: 767px){
    @content;
  }
}

/*----------------------------------------------
SCSS
----------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body {
  margin: 0;
  padding: 0;
	color: $fontcolor-base;
  font-family: $fontfamily-base;
	font-size: $fontsize-base;
	position: relative;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html, body, #wrapper {
	min-height: 100%;
}
#wrapper {
  z-index: 1;
  background: #fff;
}
figure {
  margin: 0 0 $text-margin-bottom;
  @include media_query_sp{
    width: 100% !important;
    text-align: center;
  }
}
figcaption {
  margin-top: 5px;
  font-size: 1.3rem;
  color: $fontcolor-base * 0.6;
}
img {
	max-width: 100%;
	height: auto;
  vertical-align: bottom;
}
.btn.focus, .btn:focus, .btn:hover {
  outline: none;
}
a, a img, button {
  transition: all 0.2s ease-out 0s;
}
section {
  padding: 50px 0;
}
a {
  text-decoration: none;
  &:link {
    color: $color-key;
  }
  &:hover {
    color: $color-sub;
    img {
      opacity: .8;
    }
  }
  &:visited {
    color: $color-key;
  }
}

.horizontalMunu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  flex-shrink: 0;
  @include media_query_sp{
    position: relative;
  }
	.headMenu {
		display: flex;
		flex-wrap: wrap;
    align-items: center;
		flex-shrink: 0;
    .hamburger {
      padding: 10px;
      border: solid 1px #000;
      border-radius: 3px;
      display: none;
      @include media_query_sp{
        display: block;
      }
      span {
        width: 25px;
        height: 2px;
        margin: 0 auto 5px;
        background: #000;
        display: block;
        &:last-child {
          margin: 0 auto;
        }
      }
    }
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			flex-shrink: 0;
      @include media_query_sp{
        display: none;
        width: 100%;
        background: #ddd;
        position: absolute;
        left: 0;
        top: 61px;
        z-index: 5;
      }
			li {
				margin: 0;
				padding: 0;
				a {
					padding: 10px;
					display: inline-block;
          @include media_query_sp{
            width: 100%;
            display: block;
          }
				}
			}
		}
	}
}

.breadcrumb {
  padding: 15px 0;
  background: $color-base * 1.5;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1.2rem;
      &:after {
        content: ">";
        display: inline-block;
        margin: 0 5px;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        color: $fontcolor-base;
      }
    }
  }
}

.article {
  font-size: 1.4rem;
  line-height: $line-height;
  h1, h2, h3, h4, h5, h6 {
    margin: $text-margin-bottom * 2 0;
    font-weight: 600;
    line-height: $line-height;
  }
  h1 {
    font-size: 3rem;
    @include media_query_tablet{
      font-size: 2.8rem;
    }
    @include media_query_sp{
      font-size: 2.6rem;
    }
  }
  h2 {
    font-size: 2.8rem;
    @include media_query_tablet{
      font-size: 2.6rem;
    }
    @include media_query_sp{
      font-size: 2.4rem;
    }
  }
  h3 {
    font-size: 2.6rem;
		@include media_query_tablet{
			font-size: 2.4rem;
		}
		@include media_query_sp{
			font-size: 2.2rem;
		}
  }
  h4 {
    font-size: 2.4rem;
		@include media_query_tablet{
			font-size: 2.2rem;
		}
		@include media_query_sp{
			font-size: 2rem;
		}
  }
  h5 {
    font-size: 2.2rem;
		@include media_query_tablet{
			font-size: 2rem;
		}
		@include media_query_sp{
			font-size: 1.8rem;
		}
  }
  h6 {
    font-size: 2rem;
		@include media_query_tablet{
			font-size: 1.8rem;
		}
		@include media_query_sp{
			font-size: 1.6rem;
		}
  }
  p {
    margin: $text-margin-bottom 0;
    font-size: 1.6rem;
  }
  .notes {
    font-size: 1.2rem;
  }
  ul, ol {
    margin: $text-margin-bottom 0;
  }
  ul {
    &.annotationList {
      margin: $text-margin-bottom 0;
      padding: 0;
      li {
        list-style: none;
        padding-left: 1em;
        text-indent: -.5em;
        &:before {
          content: "※";
          display: inline-block;
        }
      }
    }
    li {
      list-style: disc;
      ul {
        li {
          list-style: circle;
        }
      }
    }
  }
  ol {
    li {
      list-style: decimal;
      ul {
        li {
          list-style: disc;
        }
      }
    }
  }
  li {
    font-size: 1.6rem;
  }
  hr {
    border: 0;
    border-bottom: 1px solid $color-base;
    margin: 2em 0;
    height: 0;
    clear: both;
  }
  a {
    &:link {
      color: $color-key;
    }
    &:hover {
      color: $color-sub;
    }
    &:visited {
      color: $color-key;
    }
  }
  blockquote {
    background: url(../images/bg_blockquote.png) 10px 10px no-repeat #EEE;
    background-size: auto 20px;
    padding: $text-margin-bottom $glid-space;
    margin: $text-margin-bottom $glid-space;
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .lead {
    font-size: 1.8rem;
  }
  .alignleft {
    margin-right: $glid-space;
    float: left;
    @include media_query_sp{
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
  .alignright {
    margin-left: $glid-space;
    float: right;
    @include media_query_sp{
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  table {
    width: 100%;
    margin-bottom: $text-margin-bottom;
    border-collapse: collapse;
    caption {
      padding: 15px 20px;
      background: #e3ebf0;
      border-bottom: solid 1px #fff;
      font-size: 1.8rem;
      text-align: left;
    }
    th, td {
      padding: 15px;
      border: solid 1px #dcdcdc;
      vertical-align: top;
      font-size: 1.6rem;
    }
    th {
      color: $fontcolor-base;
      text-align: left;
      background: #f3f7f9;
    }
    td img {
      vertical-align: middle;
    }
    &.breakTable, &.breakTable tbody, &.breakTable tr, &.breakTable th, &.breakTable td, &.breakTable caption{
      @include media_query_tablet{
        display: block;
        width: 100%;
      }
      @include media_query_sp{
        display: block;
        width: 100%;
      }
    }
  }
  @include media_query_sp{
    .responsiveTable {
      width: 100%;
      margin-bottom: $text-margin-bottom;
      border: solid 1px #dcdcdc;
      overflow-y: hidden;
      table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        th, td {
          white-space: nowrap;
        }
      }
    }
  }
}

/*----------------------------------------------
module
----------------------------------------------*/
.marg0 { margin:0 !important; }
.padd0 { padding:0 !important; }

.mb0 { margin-bottom: 0 !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb100 { margin-bottom:100px !important; }

.mt0 { margin-top: 0 !important; }
.mt10 { margin-top: 10px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }
.mt90 { margin-top: 90px !important; }
.mt100 { margin-top: 100px !important; }

.ml0 { margin-left: 0 !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }

.mr0 { margin-right: 0 !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }

.txtRed { color: #F00; }
.txtLeft { text-align: left; }
.txtCenter { text-align: center; }
.txtRight { text-align: right; }

.pconly {
  display: block !important;
  @include media_query_sp{
    display: none !important;
  }
}
.sponly {
  display: none !important;
  @include media_query_sp{
    display: block !important;
  }
}

.enclosure {
	margin: $text-margin-bottom 0;
	padding: $text-margin-bottom $glid-space;
	border: solid 1px $color-base;
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
.btn {
  padding: 10px;
  background: #eee;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  &:hover, &:focus {
    opacity: .5;
    cursor: pointer;
  }
  &.btnKey {
    background: $color-key;
    border-color: $color-key;
    color: #fff;
  }
  &.btnSub {
    background: $color-sub;
    border-color: $color-sub;
    color: #fff;
  }
  &.btnKeyOut {
    background: none;
    border-color: $color-key;
    color: $color-key;
  }
  &.btnSubOut {
    background: none;
    border-color: $color-sub;
    color: $color-sub;
  }
  &.btnBlock {
    width: 100%;
    display: block;
  }
  &.btnS {
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1;
  }
  &.btnL {
    padding: 10px 20px;
    font-size: 2rem;
    line-height: 1;
  }
}

/*----------------------------------------------
Form
----------------------------------------------*/
form {
	.sizeXS { max-width:80px; }
	.sizeS { max-width:150px; }
	.sizeM { max-width:300px; }
	.sizeL { max-width:500px; }
	.sizeXL{ max-width:100%; }
	.required { color: #F00; }
	input[type="text"], input[type="email"], input[type="tel"], textarea, select {
		width:100%;
		display: block;
		height: 38px;
		padding: 6px 12px;
		font-family: $fontfamily-base;
		font-size: 1.6rem;
		line-height: 38px;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
	textarea{
		height:auto;
	}
	button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 1.6rem;
    font-family: $fontfamily-base;
    line-height: 1.6rem;
    @include media_query_sp{
      margin-bottom: 5px;
    }
	}
}

/*----------------------------------------------
grid
----------------------------------------------*/
.contentsWrap {}
.container {
	width: $site-width;
	margin-left: auto;
	margin-right: auto;
  @include media_query_tablet{
    padding-left: $glid-space;
    padding-right: $glid-space;
		width: 100%;
  }
  @include media_query_sp{
    padding-left: $glid-space;
    padding-right: $glid-space;
		width: 100%;
  }
}
.container-fluid {
  padding-left: $glid-space;
  padding-right: $glid-space;
	margin-left: auto;
	margin-right: auto;
}
.row {
	margin-left: -$glid-space;
	margin-right: -$glid-space;
	display: flex;
	flex-wrap: wrap;
  flex-shrink: 0;
  &.flexCenter {
    justify-content: center;
  }
  &.flexEnd {
    justify-content: flex-end;
  }
  &.flexBetween {
    justify-content: space-between;
  }
  &.vCenter {
    align-items: center;
  }
}
.rowFull {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  @include media_query_sp{
    display: block;
  }
  .col {
    width: 100%;
    margin-bottom: $text-margin-bottom;
  }
}
@mixin column($col){
  width: 100% / $maxcol * $col;
}
@for $i from 1 through $maxcol {
  .col-#{$i} {
    @include column($i);
    margin-bottom: $text-margin-bottom;
		padding-left: $glid-space;
		padding-right: $glid-space;
		float: left;
		@include media_query_sp{
			width: 100%;
		}
  }
}
@mixin offset($col) {
	margin-left: 100% - (100% / $maxcol * $col);
}
@for $i from $maxcol - 1 through 1 {
	.col-offset-#{$maxcol - $i}{
		@include offset($i);
		@include media_query_sp{
			margin-left: 0;
		}
	}
}
@for $i from 1 through $maxcol {
	.order#{$i} {
		order: $i;
    @include media_query_sp {
      order: 0;
    }
	}
}
div[class*="col-"] *:first-child {
  margin-top: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}