@charset "UTF-8";

/*----------------------------------------------
SCSS
----------------------------------------------*/

@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

html, body {
  margin: 0;
  padding: 0;
	color: $fontcolor-base;
  font-family: $fontfamily-base;
	font-size: $fontsize-base;
	position: relative;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html, body, #wrapper {
	min-height: 100%;
}
#wrapper {
  z-index: 1;
  background: #fff;
}
figure {
  margin: 0 0 $text-margin-bottom;
  @include media_query_sp{
    width: 100% !important;
    margin: 0 0 calc((#{$text-margin-bottom2} * 2) / #{$calc-sp});
    text-align: center;
  }
}
figcaption {
  margin-top: 5px;
  font-size: 1.3rem;
  color: lighten($fontcolor-base,40%);
  @include media_query_sp{
    margin-top: calc(10 / #{$calc-sp});
    font-size: calc(26 / #{$calc-sp});
  }
}
img {
	max-width: 100%;
	height: auto;
  vertical-align: bottom;
  backface-visibility:hidden;
}
.btn.focus, .btn:focus, .btn:hover {
  outline: none;
}
a, a img, button {
  transition: all 0.2s ease-out 0s;
}
section {
  padding: 50px 0;
  @include media_query_sp{
    padding: calc(100 / #{$calc-sp}) 0;
  }
}
a {
  text-decoration: none;
  &:link {
    color: $color-key;
  }
  &:hover {
    color: $color-sub;
    img {
      opacity: .8;
    }
  }
  &:visited {
    color: $color-key;
  }
}
iframe {
  max-width: 100%;
}

.article {
  font-size: 1.4rem;
  line-height: $line-height;
  @include media_query_sp{
    font-size: calc(26 / #{$calc-sp});
  }
  h1, h2, h3, h4, h5, h6 {
    margin: $text-margin-bottom * 2 0;
    font-weight: 600;
    line-height: $line-height;
    @include media_query_sp{
      margin: calc((#{$text-margin-bottom2} * 4) / #{$calc-sp}) 0;
    }
  }
  h1 {
    font-size: 3rem;
    @include media_query_tablet{
      font-size: 2.8rem;
    }
    @include media_query_sp{
      font-size: calc(50 / #{$calc-sp});
    }
  }
  h2 {
    font-size: 2.8rem;
    @include media_query_tablet{
      font-size: 2.6rem;
    }
    @include media_query_sp{
      font-size: calc(45 / #{$calc-sp});
    }
  }
  h3 {
    font-size: 2.6rem;
		@include media_query_tablet{
			font-size: 2.4rem;
		}
		@include media_query_sp{
			font-size: calc(41 / #{$calc-sp});
		}
  }
  h4 {
    font-size: 2.4rem;
		@include media_query_tablet{
			font-size: 2.2rem;
		}
		@include media_query_sp{
			font-size: calc(37 / #{$calc-sp});
		}
  }
  h5 {
    font-size: 2.2rem;
		@include media_query_tablet{
			font-size: 2rem;
		}
		@include media_query_sp{
			font-size: calc(33 / #{$calc-sp});
		}
  }
  h6 {
    font-size: 2rem;
		@include media_query_tablet{
			font-size: 1.8rem;
		}
		@include media_query_sp{
			font-size: calc(29 / #{$calc-sp});
		}
  }
  p {
    margin: $text-margin-bottom 0;
    font-size: 1.6rem;
    @include media_query_sp{
      margin: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) 0;
      font-size: calc(29 / #{$calc-sp});
    }
  }
  .notes {
    font-size: 1.2rem;
    @include media_query_sp{
      font-size: calc(22 / #{$calc-sp});
    }
  }
  ul, ol {
    margin: $text-margin-bottom 0;
    @include media_query_sp{
      margin: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) 0;
    }
  }
  ul {
    &.annotationList {
      margin: $text-margin-bottom 0;
      padding: 0;
      @include media_query_sp{
        margin: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) 0;
      }
      li {
        list-style: none;
        padding-left: 1em;
        text-indent: -.5em;
        &:before {
          content: "※";
          display: inline-block;
        }
      }
    }
    li {
      list-style: disc;
      ul {
        li {
          list-style: circle;
        }
      }
    }
  }
  ol {
    li {
      list-style: decimal;
      ul {
        li {
          list-style: disc;
        }
      }
    }
  }
  li {
    font-size: 1.6rem;
    @include media_query_sp{
      font-size: calc(29 / #{$calc-sp});
    }
  }
  hr {
    border: 0;
    border-bottom: 1px solid $color-base;
    margin: 2rem 0;
    height: 0;
    clear: both;
    @include media_query_sp{
      margin: calc(40 / #{$calc-sp}) 0;
    }
  }
  a {
    &:link {
      color: $color-key;
    }
    &:hover {
      color: $color-sub;
    }
    &:visited {
      color: $color-key;
    }
  }
  blockquote {
    background: url(../images/bg_blockquote.png) 10px 10px no-repeat #EEE;
    background-size: auto 20px;
    padding: $text-margin-bottom $glid-space;
    margin: $text-margin-bottom $glid-space;
    @include media_query_sp{
      margin: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) calc((#{$glid-space2} * 2) / #{$calc-sp});
      padding: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) calc((#{$glid-space2} * 2) / #{$calc-sp});
    }
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .lead {
    font-size: 1.8rem;
    @include media_query_sp{
      font-size: calc(36 / #{$calc-sp});
    }
  }
  .alignleft {
    margin-right: $glid-space;
    float: left;
    @include media_query_sp{
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
  .alignright {
    margin-left: $glid-space;
    float: right;
    @include media_query_sp{
      margin-left: auto;
      margin-right: auto;
      float: none;
    }
  }
  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  table {
    width: 100%;
    margin-bottom: $text-margin-bottom;
    border-collapse: collapse;
    @include media_query_sp{
      margin-bottom: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp});
    }
    caption {
      padding: 15px 20px;
      background: #e3ebf0;
      border-bottom: solid 1px #fff;
      font-size: 1.8rem;
      text-align: left;
      @include media_query_sp{
        padding: calc(30 / #{$calc-sp}) calc(40 / #{$calc-sp});
        font-size: calc(33 / #{$calc-sp});
      }
    }
    th, td {
      padding: 15px;
      border: solid 1px #dcdcdc;
      vertical-align: top;
      font-size: 1.6rem;
      @include media_query_sp{
        padding: calc(30 / #{$calc-sp});
        font-size: calc(29 / #{$calc-sp});
      }
    }
    th {
      color: $fontcolor-base;
      text-align: left;
      background: #f3f7f9;
    }
    td img {
      vertical-align: middle;
    }
    &.breakTable, &.breakTable tbody, &.breakTable tr, &.breakTable th, &.breakTable td, &.breakTable caption{
      @include media_query_tablet{
        display: block;
        width: 100%;
      }
      @include media_query_sp{
        display: block;
        width: 100%;
      }
    }
  }
  @include media_query_sp{
    .responsiveTable {
      width: 100%;
      margin-bottom: $text-margin-bottom;
      border: solid 1px #dcdcdc;
      overflow-y: hidden;
      table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 0;
        th, td {
          white-space: nowrap;
        }
      }
    }
  }
}

/*----------------------------------------------
module
----------------------------------------------*/
.marg0 { margin:0 !important; }
.padd0 { padding:0 !important; }

.mb0 { margin-bottom: 0 !important; }
.mb10 {
  margin-bottom: 10px !important;
  @include media_query_sp{
    margin-bottom: calc(20 / #{$calc-sp}) !important;
  }
}
.mb15 {
  margin-bottom: 15px !important;
  @include media_query_sp{
    margin-bottom: calc(30 / #{$calc-sp}) !important;
  }
}
.mb20 {
  margin-bottom: 20px !important;
  @include media_query_sp{
    margin-bottom: calc(40 / #{$calc-sp}) !important;
  }
}
.mb30 {
  margin-bottom: 30px !important;
  @include media_query_sp{
    margin-bottom: calc(60 / #{$calc-sp}) !important;
  }
}
.mb40 {
  margin-bottom: 40px !important;
  @include media_query_sp{
    margin-bottom: calc(40 / #{$calc-sp}) !important;
  }
}
.mb50 {
  margin-bottom: 50px !important;
  @include media_query_sp{
    margin-bottom: calc(100 / #{$calc-sp}) !important;
  }
}
.mb60 {
  margin-bottom: 60px !important;
  @include media_query_sp{
    margin-bottom: calc(120 / #{$calc-sp}) !important;
  }
}
.mb70 {
  margin-bottom: 70px !important;
  @include media_query_sp{
    margin-bottom: calc(140 / #{$calc-sp}) !important;
  }
}
.mb80 {
  margin-bottom: 80px !important;
  @include media_query_sp{
    margin-bottom: calc(160 / #{$calc-sp}) !important;
  }
}
.mb90 {
  margin-bottom: 90px !important;
  @include media_query_sp{
    margin-bottom: calc(180 / #{$calc-sp}) !important;
  }
}
.mb100 {
  margin-bottom:100px !important;
  @include media_query_sp{
    margin-bottom: calc(200 / #{$calc-sp}) !important;
  }
}

.mt0 { margin-top: 0 !important; }
.mt10 {
  margin-top: 10px !important;
  @include media_query_sp{
    margin-top: calc(20 / #{$calc-sp}) !important;
  }
}
.mt20 {
  margin-top: 20px !important;
  @include media_query_sp{
    margin-top: calc(40 / #{$calc-sp}) !important;
  }
}
.mt30 {
  margin-top: 30px !important;
  @include media_query_sp{
    margin-top: calc(60 / #{$calc-sp}) !important;
  }
}
.mt40 {
  margin-top: 40px !important;
  @include media_query_sp{
    margin-top: calc(80 / #{$calc-sp}) !important;
  }
}
.mt50 {
  margin-top: 50px !important;
  @include media_query_sp{
    margin-top: calc(100 / #{$calc-sp}) !important;
  }
}
.mt60 {
  margin-top: 60px !important;
  @include media_query_sp{
    margin-top: calc(120 / #{$calc-sp}) !important;
  }
}
.mt70 {
  margin-top: 70px !important;
  @include media_query_sp{
    margin-top: calc(140 / #{$calc-sp}) !important;
  }
}
.mt80 {
  margin-top: 80px !important;
  @include media_query_sp{
    margin-top: calc(160 / #{$calc-sp}) !important;
  }
}
.mt90 {
  margin-top: 90px !important;
  @include media_query_sp{
    margin-top: calc(180 / #{$calc-sp}) !important;
  }
}
.mt100 {
  margin-top: 100px !important;
  @include media_query_sp{
    margin-top: calc(200 / #{$calc-sp}) !important;
  }
}

.ml0 { margin-left: 0 !important; }
.ml5 {
  margin-left: 5px !important;
  @include media_query_sp{
    margin-left: calc(10 / #{$calc-sp}) !important;
  }
}
.ml10 {
  margin-left: 10px !important;
  @include media_query_sp{
    margin-left: calc(20 / #{$calc-sp}) !important;
  }
}
.ml15 {
  margin-left: 15px !important;
  @include media_query_sp{
    margin-left: calc(30 / #{$calc-sp}) !important;
  }
}
.ml20 {
  margin-left: 20px !important;
  @include media_query_sp{
    margin-left: calc(40 / #{$calc-sp}) !important;
  }
}

.mr0 { margin-right: 0 !important; }
.mr5 {
  margin-right: 5px !important;
  @include media_query_sp{
    margin-right: calc(10 / #{$calc-sp}) !important;
  }
}
.mr10 {
  margin-right: 10px !important;
  @include media_query_sp{
    margin-right: calc(20 / #{$calc-sp}) !important;
  }
}
.mr15 {
  margin-right: 15px !important;
  @include media_query_sp{
    margin-right: calc(30 / #{$calc-sp}) !important;
  }
}
.mr20 {
  margin-right: 20px !important;
  @include media_query_sp{
    margin-right: calc(40 / #{$calc-sp}) !important;
  }
}

.txtRed { color: #F00; }
.txtLeft { text-align: left; }
.txtCenter { text-align: center; }
.txtRight { text-align: right; }

.pconly {
  display: block !important;
  @include media_query_sp{
    display: none !important;
  }
}
.sponly {
  display: none !important;
  @include media_query_sp{
    display: block !important;
  }
}

.enclosure {
	margin: $text-margin-bottom 0;
	padding: $text-margin-bottom $glid-space;
	border: solid 1px $color-base;
  @include media_query_sp{
    margin: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) 0;
    padding: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp}) calc((#{$glid-space2} * 2) / #{$calc-sp});
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
.btn {
  padding: 10px;
  background: #eee;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  @include media_query_sp{
    padding: calc(20 / #{$calc-sp});
    border-radius: calc(6 / #{$calc-sp});
  }
  &:hover, &:focus {
    opacity: .5;
    cursor: pointer;
  }
  &.btnKey {
    background: $color-key;
    border-color: $color-key;
    color: #fff;
  }
  &.btnSub {
    background: $color-sub;
    border-color: $color-sub;
    color: #fff;
  }
  &.btnKeyOut {
    background: none;
    border-color: $color-key;
    color: $color-key;
  }
  &.btnSubOut {
    background: none;
    border-color: $color-sub;
    color: $color-sub;
  }
  &.btnBlock {
    width: 100%;
    display: block;
  }
  &.btnS {
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1;
    @include media_query_sp{
      padding: calc(20 / #{$calc-sp});
      font-size: calc(24 / #{$calc-sp});
    }
  }
  &.btnL {
    padding: 10px 20px;
    font-size: 2rem;
    line-height: 1;
    @include media_query_sp{
      padding: calc(20 / #{$calc-sp}) calc(40 / #{$calc-sp});
      font-size: calc(40 / #{$calc-sp});
    }
  }
}

/*----------------------------------------------
grid
----------------------------------------------*/
.contentsWrap {}
.container {
  width: 100%;
	max-width: $site-width;
	margin-left: auto;
	margin-right: auto;
  @include media_query_tablet{
		width: 100%;
    max-width: none;
    padding-left: $glid-space;
    padding-right: $glid-space;
  }
  @include media_query_sp{
		width: 100%;
    max-width: none;
    padding-left: calc((#{$glid-space2} * 2) / #{$calc-sp});
    padding-right: calc((#{$glid-space2} * 2) / #{$calc-sp});
  }
}
.container-fluid {
	margin-left: auto;
	margin-right: auto;
  padding-left: $glid-space;
  padding-right: $glid-space;
  @include media_query_sp{
    padding-left: calc((#{$glid-space2} * 2) / #{$calc-sp});
    padding-right: calc((#{$glid-space2} * 2) / #{$calc-sp});
  }
}
.row {
	margin-left: -$glid-space;
	margin-right: -$glid-space;
	display: flex;
	flex-wrap: wrap;
  flex-shrink: 0;
  @include media_query_sp{
    margin-left: calc((#{-$glid-space2} * 2) / #{$calc-sp});
    margin-right: calc((#{-$glid-space2} * 2) / #{$calc-sp});
  }
  &.flexCenter {
    justify-content: center;
  }
  &.flexEnd {
    justify-content: flex-end;
  }
  &.flexBetween {
    justify-content: space-between;
  }
  &.vCenter {
    align-items: center;
  }
}
.rowFull {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  @include media_query_sp{
    display: block;
  }
  .col {
    width: 100%;
    margin-bottom: $text-margin-bottom;
    @include media_query_sp{
      margin-bottom: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp});
    }
  }
}
@mixin column($col){
  width: 100% / $maxcol * $col;
}
@for $i from 1 through $maxcol {
  .col-#{$i} {
    @include column($i);
    margin-bottom: $text-margin-bottom;
		padding-left: $glid-space;
		padding-right: $glid-space;
		float: left;
		@include media_query_sp{
			width: 100%;
      margin-bottom: calc((#{$text-margin-bottom2} * 2) / #{$calc-sp});
      padding-left: calc((#{$glid-space2} * 2) / #{$calc-sp});
      padding-right: calc((#{$glid-space2} * 2) / #{$calc-sp});
		}
  }
}
@mixin offset($col) {
	margin-left: 100% - (100% / $maxcol * $col);
}
@for $i from $maxcol - 1 through 1 {
	.col-offset-#{$maxcol - $i}{
		@include offset($i);
		@include media_query_sp{
			margin-left: 0;
		}
	}
}
@for $i from 1 through $maxcol {
	.order#{$i} {
		order: $i;
    @include media_query_sp {
      order: 0;
    }
	}
}
div[class*="col-"] *:first-child {
  margin-top: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}