@charset "UTF-8";

/*----------------------------------------------
SCSS
----------------------------------------------*/

@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/font/NotoSansCJKjp-Regular.woff') format('woff'),
       url('/assets/font/NotoSansCJKjp-Regular.eot') format('eot');
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/font/NotoSansCJKjp-Medium.woff') format('woff'),
       url('/assets/font/NotoSansCJKjp-Medium.eot') format('eot');
  font-display: swap;
}
@font-face {
  font-family: 'NotoSansCJKjp';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/font/NotoSansCJKjp-Bold.woff') format('woff'),
       url('/assets/font/NotoSansCJKjp-Bold.eot') format('eot');
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
	color: $fontcolor-base;
  font-family: $fontfamily-base;
  font-weight: 400;
  font-style: normal;
	font-size: $fontsize-base;
	position: relative;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
html, body, #wrapper {
	min-height: 100%;
}
body.overlay {
  height: 100vh;
  overflow: hidden;
}
#wrapper {
  z-index: 1;
  background: #fff;
}
figure {
  margin: 0;
  @include media_query_sp{
    width: 100% !important;
    text-align: center;
  }
}
figcaption {
  margin-top: 5px;
  font-size: 1.3rem;
  color: lighten($fontcolor-base,40%);
  @include media_query_sp{
    margin-top: vw(5);
    font-size: vw(13);
  }
}
img {
	max-width: 100%;
	height: auto;
  vertical-align: bottom;
  backface-visibility: hidden;
}
.btn.focus, .btn:focus, .btn:hover {
  outline: none;
}
a, a img, button {
  transition: all 0.2s ease-out 0s;
  will-change: transform;
}
section {
  padding: 50px 0;
  @include media_query_sp{
    padding: vw(50) 0;
  }
}
a {
  text-decoration: none;
  &:link {
    color: $color-key;
  }
  &:hover {
    color: $color-sub;
    img {
      opacity: .8;
    }
  }
  &:visited {
    color: $color-key;
  }
}
iframe {
  max-width: 100%;
}


/*----------------------------------------------
module
----------------------------------------------*/
$i: 0;
@while $i < 105 {
  .mg#{$i} {
    margin: $i + px !important;
		@include media_query_sp{
			margin: vw($i) !important;
		}
  }
  .mt#{$i} {
    margin-top: $i + px !important;
		@include media_query_sp{
			margin-top: vw($i) !important;
		}
  }
  .mr#{$i} {
    margin-right: $i + px !important;
		@include media_query_sp{
			margin-right: vw($i) !important;
		}
  }
  .mb#{$i} {
    margin-bottom: $i + px !important;
		@include media_query_sp{
			margin-bottom: vw($i) !important;
		}
  }
  .ml#{$i} {
    margin-left: $i + px !important;
		@include media_query_sp{
			margin-left: vw($i) !important;
		}
  }
  $i: $i + 5;
}

.txtRed { color: #F00; }
.txtLeft { text-align: left; }
.txtCenter { text-align: center; }
.txtRight { text-align: right; }

.pconly {
  display: block !important;
  @include media_query_sp{
    display: none !important;
  }
}
.sponly {
  display: none !important;
  @include media_query_sp{
    display: block !important;
  }
}

.enclosure {
	margin: 15px 0;
	padding: 15px;
	border: solid 1px $color-base;
  @include media_query_sp{
    margin: vw(15) 0;
    padding: vw(15);
  }
  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
.btn {
  padding: 10px;
  background: #eee;
  border: solid 1px #ccc;
  border-radius: 3px;
  display: inline-block;
  @include media_query_sp{
    padding: vw(10);
    border-radius: vw(3);
  }
  &:hover, &:focus {
    opacity: .5;
    cursor: pointer;
  }
  &.btnKey {
    background: $color-key;
    border-color: $color-key;
    color: #fff;
  }
  &.btnSub {
    background: $color-sub;
    border-color: $color-sub;
    color: #fff;
  }
  &.btnKeyOut {
    background: none;
    border-color: $color-key;
    color: $color-key;
  }
  &.btnSubOut {
    background: none;
    border-color: $color-sub;
    color: $color-sub;
  }
  &.btnBlock {
    width: 100%;
    display: block;
  }
  &.btnS {
    padding: 10px;
    font-size: 1.2rem;
    line-height: 1;
    @include media_query_sp{
      padding: cw(10);
      font-size: vw(12);
    }
  }
  &.btnL {
    padding: 10px 20px;
    font-size: 2rem;
    line-height: 1;
    @include media_query_sp{
      padding: vw(10) vw(20);
      font-size: vw(20);
    }
  }
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}