@charset "UTF-8";

/*----------------------------------------------
breadcrumb
----------------------------------------------*/
.breadcrumb {
  padding: 15px 0;
  background: lighten($color-base, 30%);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1.2rem;
      @include media_query_sp{
        font-size: vw(12);
      }
      &:after {
        content: ">";
        display: inline-block;
        margin: 0 5px;
        @include media_query_sp{
          margin: 0 vw(5);
        }
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      a {
        color: $fontcolor-base;
      }
    }
  }
}