@charset "UTF-8";

/*----------------------------------------------
Form
----------------------------------------------*/
form {
	.sizeXS { max-width:80px; }
	.sizeS { max-width:150px; }
	.sizeM { max-width:300px; }
	.sizeL { max-width:500px; }
	.sizeXL{ max-width:100%; }
	.required { color: #F00; }
	input[type="text"], input[type="email"], input[type="tel"], textarea, select {
		width:100%;
		display: block;
		height: 38px;
		padding: 6px 12px;
		font-family: $fontfamily-base;
		font-size: 1.6rem;
		line-height: 38px;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
    @include media_query_sp{
      height: calc(76 / #{$calc-sp});
      padding: calc(12 / #{$calc-sp}) calc(24 / #{$calc-sp});
      font-size: calc(29 / #{$calc-sp});
      line-height: calc(76 / #{$calc-sp});
      border-radius: calc(8 / #{$calc-sp});
    }
	}
	textarea{
		height:auto;
	}
	button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 1.6rem;
    font-family: $fontfamily-base;
    line-height: 1.6rem;
    appearance: none;
    @include media_query_sp{
      margin-bottom: calc(10 / #{$calc-sp});
      font-size: calc(29 / #{$calc-sp});
      line-height: calc(29 / #{$calc-sp});
    }
	}
}