@charset "UTF-8";

/*----------------------------------------------
pageHead
----------------------------------------------*/
#pageHead {
  border-bottom: solid 1px #ddd;
  font-size: 1.6rem;
  @include media_query_sp{
    font-size: vw(16);
  }
}
.horizontalMunu {
  padding: 10px 0;
  @include media_query_sp{
    padding: vw(10) 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0;
    @include media_query_sp{
      position: relative;
    }
  }
	.headMenu {
		display: flex;
		flex-wrap: wrap;
    align-items: center;
		flex-shrink: 0;
    .hamburger {
      display: none;
      @include media_query_sp{
        width: vw(25);
        height: vw(25);
        position: relative;
        border: none;
        padding: 0;
        display: block;
        z-index: 10;
      }
      span {
        width: vw(25);
        height: vw(2.75);
        margin: 0;
        background-color: #000;
        border-radius: vw(1.375);
        transition: all .4s;
        position: absolute;
        right: 0;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: vw(11.125);
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
      &.active {
        span {
          &:nth-of-type(1) {
            transform: translateY(vw(11.125)) rotate(-45deg);
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(vw(-11.125)) rotate(45deg);
          }
        }
      }
    }
    .menuList {
      @include media_query_sp{
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        background: rgba(255,255,255,.8);
        overflow-y: scroll;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
      }
    }
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			flex-shrink: 0;
      @include media_query_sp{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
			li {
				margin: 0;
				padding: 0;
				a {
					padding: 10px;
					display: inline-block;
          @include media_query_sp{
            width: 100%;
            padding: vw(20);
            display: block;
          }
          &:hover {
            background: lighten($color-key, 10%);
            color: #fff;
          }
				}
			}
		}
	}
  &.fixed {
    width: 100%;
    background-color: rgba(255,255,255,.8);
    position: fixed;
    z-index: 1001;
  }
}
