@charset "UTF-8";

/*----------------------------------------------
pageFoot
----------------------------------------------*/
#pageFoot {
  padding: 10px 0 20px;
  background: #ddd;
  font-size: 1.6rem;
  @include media_query_sp{
    margin-top: vw(50);
    padding: vw(10) 0 vw(20);
    font-size: vw(16);
  }
  ul {
    margin: 0;
    padding: 10px 0 30px;
    list-style: none;
    @include media_query_sp{
      padding: 0;
    }
    ul {
      margin-left: 2em;
      padding: 0;
      list-style: disc;
    }
  }
  small {
    display: block;
    text-align: center;
  }
}

/*----------------------------------------------
pageTop
----------------------------------------------*/
.pageTop {
	position: fixed;
	bottom: 50px;
	right: 0;
  @include media_query_sp{
    bottom: vw(50);
  }
  a {
		width: 40px;
		height: 40px;
    padding: 5px 0;
    display: block;
		background: #666;
    color: #fff;
		font-size: 10px;
		text-align: center;
    @include media_query_sp{
      width: vw(40);
      height: vw(40);
      padding: vw(5) 0;
      font-size: vw(10);
    }
		&:before {
			content: '';
			width: 6px;
			height: 6px;
			border: 6px solid transparent;
			border-bottom: 6px solid #fff;
			display: block;
			box-sizing: border-box;
			position: relative;
			top: -3px;
			left: 14px;
      @include media_query_sp{
        width: vw(6);
        height: vw(6);
        border-width: vw(6);
        top: vw(-3);
        left: vw(14);
      }
		}
		&:hover {
			opacity: .5;
		}
  }
}