@charset "UTF-8";

/*----------------------------------------------
pageFoot
----------------------------------------------*/
#pageFoot {
  padding: 10px 0 20px;
  background: #ddd;
  font-size: 1.6rem;
  @include media_query_sp{
    margin-top: calc(50 / #{$calc-sp});
    padding: calc(10 / #{$calc-sp}) 0 calc(20 / #{$calc-sp});
    font-size: calc(16 / #{$calc-sp});
  }
  ul {
    margin: 0;
    padding: 10px 0 30px;
    list-style: none;
    @include media_query_sp{
      padding: 0;
    }
    ul {
      margin-left: 2em;
      padding: 0;
      list-style: disc;
    }
  }
  small {
    display: block;
    text-align: center;
  }
}

/*----------------------------------------------
pageTop
----------------------------------------------*/
.pageTop {
	position: fixed;
	bottom: 50px;
	right: 0;
  @include media_query_sp{
    bottom: calc(50 / #{$calc-sp});
  }
  a {
		width: 40px;
		height: 40px;
    padding: 5px 0;
    display: block;
		background: #666;
    color: #fff;
		font-size: 10px;
		text-align: center;
    @include media_query_sp{
      width: calc(40 / #{$calc-sp});
      height: calc(40 / #{$calc-sp});
      padding: calc(5 / #{$calc-sp}) 0;
      font-size: calc(10 / #{$calc-sp});
    }
		&:before {
			content: '';
			width: 6px;
			height: 6px;
			border: 6px solid transparent;
			border-bottom: 6px solid #fff;
			display: block;
			box-sizing: border-box;
			position: relative;
			top: -3px;
			left: 14px;
      @include media_query_sp{
        width: calc(6 / #{$calc-sp});
        height: calc(6 / #{$calc-sp});
        border-width: calc(6 / #{$calc-sp});
        top: calc(-3 / #{$calc-sp});
        left: calc(14 / #{$calc-sp});
      }
		}
		&:hover {
			opacity: .5;
		}
  }
}