@charset "UTF-8";

/*----------------------------------------------
style
----------------------------------------------*/
.article {
  h2 {
    position: relative;
    padding-bottom: 5px;
    @include media_query_sp{
      padding-bottom: calc(5 / #{$calc-sp});
    }
    &:before {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #ddd;
      @include media_query_sp{
        height: calc(2 / #{$calc-sp});
      }
    }
    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: $color-key;
      @include media_query_sp{
        width: calc(50 / #{$calc-sp});
        height: calc(2 / #{$calc-sp});
      }
    }
  }
  h3 {
    padding: 5px 10px;
    background: #ddd;
    color: $color-key;
    @include media_query_sp{
      padding: calc(5 / #{$calc-sp}) calc(10 / #{$calc-sp});
    }
  }
  h4 {
    padding-bottom: 2px;
    border-bottom: solid 2px #ddd;
    @include media_query_sp{
      padding-bottom: calc(2 / #{$calc-sp});
      border-width: calc(2 / #{$calc-sp});
    }
  }
}
.prevNext {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  .prev, .index, .next {
    min-width: 6rem;
    text-align: center;
    a {
      width: 100%;
    }
  }
}
.pagination {
  margin-bottom: 1.5rem;
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
        padding: 10px;
        background: #eee;
        border: solid 1px #ccc;
        border-right: none;
        display: inline-block;
        &:hover {
          opacity: .5;
        }
      }
      &:first-of-type {
        a {
          border-radius: 3px 0 0 3px;
        }
      }
      &:last-of-type {
        a {
          border-right: solid 1px #ccc;
          border-radius: 0 3px 3px 0;
        }
      }
    }
  }
}