@charset "UTF-8";
$tab-num:3;//タブの数
/*----------------------------------------------
common
----------------------------------------------*/
.tab-radios {
  display: none;
}
label.tab-label {
  width: 100%;
  display: block;
  user-select: none;
  cursor: pointer;
  transition-duration: 200ms;
}
.tabs {
  .inner {
    max-height: 0;
    opacity: 0;
    transition: opacity 600ms;
    overflow-y: hidden;
  }
}
/*----------------------------------------------
style
----------------------------------------------*/
.tabs-list {
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-shrink: 0;
  @include media_query_sp{
    margin: 0 0 calc(60 / #{$calc-sp});
  }
  li {
    margin: 0 3px 0 0;
    display: inline-block;
    @include media_query_sp{
      margin: 0 calc(6 / #{$calc-sp}) 0 0;
    }
  }
  label {
    &.tab-label {
      padding: 10px 25px;
      border-radius: 4px;
      border: solid 2px rgba($color-key, .1);
      transition-property: border, color;
      @include media_query_sp{
        padding: calc(20 / #{$calc-sp}) calc(50 / #{$calc-sp});
        border-radius: calc(8 / #{$calc-sp});
        border-width: calc(4 / #{$calc-sp});
      }
      &:hover {
        border: solid 2px $color-key;
        color: $color-key;
        @include media_query_sp{
          border-width: calc(4 / #{$calc-sp});
        }
      }
    }
  }
}
@for $i from 1 through $tab-num {
  #tab-#{$i}-ctrl:checked ~ .tabs #tab-#{$i} .inner {
    max-height: 100%;
    opacity: 1;
  }
  #tab-#{$i}-ctrl:checked ~ .tabs-list #li-for-tab-#{$i} .tab-label {
    border: solid 2px $color-key;
    color: $color-key;
    @include media_query_sp{
      border-width: calc(4 / #{$calc-sp});
    }
  }
}

.accordion {
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-key;
    cursor: pointer;
    transition: all 0.2s ease-out 0s;
    position: relative;
    padding-left: 2.5rem;
    @include media_query_sp{
      font-size: calc(40 / #{$calc-sp});
      padding-left: calc(50 / #{$calc-sp});
    }
    &:hover {
      opacity: .5;
    }
    &:before {
      content: "";
      width: 1.5rem;
      height: 1px;
      background: $color-key;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      @include media_query_sp{
        width: calc(30 / #{$calc-sp});
        height: calc(2 / #{$calc-sp});
      }
    }
    &:after {
      content: "";
      width: 1.5rem;
      height: 1px;
      background: $color-key;
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: rotate(90deg);
      transition: all 0.2s ease-out 0s;
      @include media_query_sp{
        width: calc(30 / #{$calc-sp});
        height: calc(2 / #{$calc-sp});
      }
    }
  }
  .content {
    display: none;
    opacity: 0;
    transition: all 0.2s ease-out 0s;
    overflow: hidden;
  }
  .active {
    .title {
      &:after {
        transform: rotate(0);
      }
    }
    .content {
      display: block;
      animation: accordionOpen 0.5s ease-out 1 both;
    }
  }
}
@keyframes accordionOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}