@charset "UTF-8";

/*----------------------------------------------
variable
----------------------------------------------*/

$color-key:#0042ff;
$color-sub:#ff2400;
$color-base:#999;

$fontsize-base:10px;
$fontcolor-base:#333;
$fontfamily-base: "NotoSansCJKjp", "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$line-height:1.6;

$site-width:1110px;

@mixin media_query_pc{
  @media (min-width: $site-width){
    @content;
  }
}
@mixin media_query_tablet{
  @media (min-width: 768px) and (max-width: $site-width - 1px){
    @content;
  }
}
@mixin media_query_sp{
  @media (max-width: 767px){
    @content;
  }
}

/* 375pxデザイン時のpxからvwを計算 ------------*/
/* calc内で使いたい場合: calc( 100% - #{vw(10)} ); */
@function vw($size, $viewport: 375) {
  @return $size / $viewport * 100 * 1vw;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,*::before,*::after{box-sizing:border-box}*{margin:0}html,body{height:100%}body{line-height:1.5;-webkit-font-smoothing:antialiased}img,picture,video,canvas,svg{display:block;max-width:100%}input,button,textarea,select{font:inherit}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}#root,#__next{isolation:isolate}