@charset "UTF-8";
/* Scss Document */
/*----------------------------------------------
variable
----------------------------------------------*/
/*----------------------------------------------
SCSS
----------------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
body {
  margin: 0;
  padding: 0;
  color: #1d1c1c;
  font-family: 'Open Sans', "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  position: relative; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body, #wrapper {
  height: 100%;
  min-height: 100%; }

#wrapper {
  z-index: 1;
  background: #fff; }

figure {
  margin: 0 0 15px; }
  @media (max-width: 767px) {
    figure {
      width: 100% !important;
      text-align: center; } }

figcaption {
  margin-top: 5px;
  font-size: 13.712px;
  color: #111111; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

.btn.focus, .btn:focus, .btn:hover {
  outline: none; }

a, a img, button {
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s; }

section {
  padding: 50px 0; }

a {
  text-decoration: none; }
  a:link {
    color: #0042ff; }
  a:hover {
    color: #ff2400; }
    a:hover img {
      opacity: .8; }

table {
  width: 100%;
  margin-bottom: 15px;
  border-collapse: collapse; }
  table caption {
    padding: 15px 20px;
    background: #e3ebf0;
    border-bottom: solid 1px #fff;
    font-size: 20px;
    text-align: left; }
  table th, table td {
    padding: 20px;
    border: solid 1px #dcdcdc;
    vertical-align: top; }
  table th {
    color: #313131;
    text-align: left;
    background: #f3f7f9; }
  table td img {
    vertical-align: middle; }
  @media (min-width: 768px) and (max-width: 1109px) {
    table.breakTable, table.breakTable tbody, table.breakTable tr, table.breakTable th, table.breakTable td, table.breakTable caption {
      display: block;
      width: 100%; } }
  @media (max-width: 767px) {
    table.breakTable, table.breakTable tbody, table.breakTable tr, table.breakTable th, table.breakTable td, table.breakTable caption {
      display: block;
      width: 100%; } }

@media (max-width: 767px) {
  .responsiveTable {
    width: 100%;
    margin-bottom: 15px;
    border: solid 1px #dcdcdc;
    overflow-y: hidden; }
    .responsiveTable table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 0; }
      .responsiveTable table th, .responsiveTable table td {
        white-space: nowrap; } }

.horizontalMunu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  @media (max-width: 767px) {
    .horizontalMunu {
      position: relative; } }
  .horizontalMunu .headMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .horizontalMunu .headMenu .hamburger {
      padding: 10px;
      border: solid 1px #000;
      border-radius: 3px;
      display: none; }
      @media (max-width: 767px) {
        .horizontalMunu .headMenu .hamburger {
          display: block; } }
      .horizontalMunu .headMenu .hamburger span {
        width: 25px;
        height: 2px;
        margin: 0 auto 5px;
        background: #000;
        display: block; }
        .horizontalMunu .headMenu .hamburger span:last-child {
          margin: 0 auto; }
    .horizontalMunu .headMenu ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
      @media (max-width: 767px) {
        .horizontalMunu .headMenu ul {
          display: none;
          width: 100%;
          background: #ddd;
          position: absolute;
          left: 0;
          top: 61px;
          z-index: 5; } }
      .horizontalMunu .headMenu ul li {
        margin: 0;
        padding: 0; }
        .horizontalMunu .headMenu ul li a {
          padding: 10px;
          display: inline-block; }
          @media (max-width: 767px) {
            .horizontalMunu .headMenu ul li a {
              width: 100%;
              display: block; } }

.article {
  font-size: 16px;
  line-height: 1.6; }
  .article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    margin: 30px 0;
    font-weight: 600;
    line-height: 1.6; }
  .article h1 {
    font-size: 30px; }
    @media (min-width: 768px) and (max-width: 1109px) {
      .article h1 {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .article h1 {
        font-size: 26px; } }
  .article h2 {
    font-size: 28px; }
    @media (min-width: 768px) and (max-width: 1109px) {
      .article h2 {
        font-size: 26px; } }
    @media (max-width: 767px) {
      .article h2 {
        font-size: 24px; } }
  .article h3 {
    font-size: 26px; }
    @media (min-width: 768px) and (max-width: 1109px) {
      .article h3 {
        font-size: 24px; } }
    @media (max-width: 767px) {
      .article h3 {
        font-size: 22px; } }
  .article h4 {
    font-size: 24px; }
    @media (min-width: 768px) and (max-width: 1109px) {
      .article h4 {
        font-size: 22px; } }
    @media (max-width: 767px) {
      .article h4 {
        font-size: 20px; } }
  .article h5 {
    font-size: 22px; }
    @media (min-width: 768px) and (max-width: 1109px) {
      .article h5 {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .article h5 {
        font-size: 18px; } }
  .article h6 {
    font-size: 20px; }
    @media (min-width: 768px) and (max-width: 1109px) {
      .article h6 {
        font-size: 18px; } }
    @media (max-width: 767px) {
      .article h6 {
        font-size: 16px; } }
  .article p {
    margin: 15px 0;
    font-size: 16px; }
  .article .notes {
    font-size: 12.8px; }
  .article ul, .article ol {
    margin: 15px 0; }
  .article ul.annotationList {
    margin: 15px 0;
    padding: 0; }
    .article ul.annotationList li {
      list-style: none;
      padding-left: 1em;
      text-indent: -.5em; }
      .article ul.annotationList li:before {
        content: "※";
        display: inline-block; }
  .article ul li {
    list-style: disc; }
  .article li {
    font-size: 16px; }
  .article hr {
    border: 0;
    border-bottom: 1px solid #898989;
    margin: 2em 0;
    height: 0;
    clear: both; }
  .article a :link {
    color: #0042ff; }
  .article a :hover {
    color: #ff2400; }
  .article blockquote {
    background: url(../images/bg_blockquote.png) 10px 10px no-repeat #EEE;
    background-size: auto 20px;
    padding: 15px 15px;
    margin: 15px 15px; }
    .article blockquote *:first-child {
      margin-top: 0; }
    .article blockquote *:last-child {
      margin-bottom: 0; }
  .article .lead {
    font-size: 18px; }
  .article .alignleft {
    margin-right: 15px;
    float: left; }
    @media (max-width: 767px) {
      .article .alignleft {
        margin-left: auto;
        margin-right: auto;
        float: none; } }
  .article .alignright {
    margin-left: 15px;
    float: right; }
    @media (max-width: 767px) {
      .article .alignright {
        margin-left: auto;
        margin-right: auto;
        float: none; } }
  .article .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center; }

/*----------------------------------------------
module
----------------------------------------------*/
.marg0 {
  margin: 0 !important; }

.padd0 {
  padding: 0 !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt0 {
  margin-top: 0 !important; }

.txtRed {
  color: #F00; }

.txtLeft {
  text-align: left; }

.txtCenter {
  text-align: center; }

.txtRight {
  text-align: right; }

.pconly {
  display: block !important; }
  @media (max-width: 767px) {
    .pconly {
      display: none !important; } }

.sponly {
  display: none !important; }
  @media (max-width: 767px) {
    .sponly {
      display: block !important; } }

.enclosure {
  margin: 15px 0;
  padding: 15px 15px;
  border: solid 1px #313131; }
  .enclosure *:first-child {
    margin-top: 0; }
  .enclosure *:last-child {
    margin-bottom: 0; }

.btn {
  padding: 8px 10px;
  background: #eee;
  border: solid 1px #ccc;
  border-radius: 3px; }
  .btn:hover, .btn:focus {
    opacity: .5;
    cursor: pointer; }
  .btn.btnKey {
    background: rgba(0, 66, 255, 0.8);
    color: #fff; }
  .btn.btnSub {
    background: rgba(255, 36, 0, 0.8);
    color: #fff; }

/*----------------------------------------------
Form
----------------------------------------------*/
form .sizeXS {
  max-width: 80px; }

form .sizeS {
  max-width: 150px; }

form .sizeM {
  max-width: 300px; }

form .sizeL {
  max-width: 500px; }

form .sizeXL {
  max-width: 100%; }

form .required {
  color: #F00; }

form input[type="text"], form input[type="email"], form textarea, form select {
  width: 100% !important;
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-family: 'Open Sans', "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; }

form textarea {
  height: auto; }

form button, form input[type="button"], form input[type="reset"], form input[type="submit"] {
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans', "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

/*----------------------------------------------
grid
----------------------------------------------*/
.container {
  width: 1110px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) and (max-width: 1109px) {
    .container {
      width: 750px; } }
  @media (max-width: 767px) {
    .container {
      padding-left: 15px;
      padding-right: 15px;
      width: 100%; } }

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .row.flexCenter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.col-1 {
  width: 8.33333%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-1 {
      width: 100%; } }

.col-2 {
  width: 16.66667%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-2 {
      width: 100%; } }

.col-3 {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-3 {
      width: 100%; } }

.col-4 {
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-4 {
      width: 100%; } }

.col-5 {
  width: 41.66667%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-5 {
      width: 100%; } }

.col-6 {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-6 {
      width: 100%; } }

.col-7 {
  width: 58.33333%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-7 {
      width: 100%; } }

.col-8 {
  width: 66.66667%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-8 {
      width: 100%; } }

.col-9 {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-9 {
      width: 100%; } }

.col-10 {
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-10 {
      width: 100%; } }

.col-11 {
  width: 91.66667%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-11 {
      width: 100%; } }

.col-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  float: left; }
  @media (max-width: 767px) {
    .col-12 {
      width: 100%; } }

.col-offset-1 {
  margin-left: 8.33333%; }
  @media (max-width: 767px) {
    .col-offset-1 {
      margin-left: 0; } }

.col-offset-2 {
  margin-left: 16.66667%; }
  @media (max-width: 767px) {
    .col-offset-2 {
      margin-left: 0; } }

.col-offset-3 {
  margin-left: 25%; }
  @media (max-width: 767px) {
    .col-offset-3 {
      margin-left: 0; } }

.col-offset-4 {
  margin-left: 33.33333%; }
  @media (max-width: 767px) {
    .col-offset-4 {
      margin-left: 0; } }

.col-offset-5 {
  margin-left: 41.66667%; }
  @media (max-width: 767px) {
    .col-offset-5 {
      margin-left: 0; } }

.col-offset-6 {
  margin-left: 50%; }
  @media (max-width: 767px) {
    .col-offset-6 {
      margin-left: 0; } }

.col-offset-7 {
  margin-left: 58.33333%; }
  @media (max-width: 767px) {
    .col-offset-7 {
      margin-left: 0; } }

.col-offset-8 {
  margin-left: 66.66667%; }
  @media (max-width: 767px) {
    .col-offset-8 {
      margin-left: 0; } }

.col-offset-9 {
  margin-left: 75%; }
  @media (max-width: 767px) {
    .col-offset-9 {
      margin-left: 0; } }

.col-offset-10 {
  margin-left: 83.33333%; }
  @media (max-width: 767px) {
    .col-offset-10 {
      margin-left: 0; } }

.col-offset-11 {
  margin-left: 91.66667%; }
  @media (max-width: 767px) {
    .col-offset-11 {
      margin-left: 0; } }

div[class*="col-"] *:first-child {
  margin-top: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

/*
---
name: Grid system
tag:
  - base
category:
  - component
  - component/grid
---

## 12分割のグリッド（計算苦手なのでおかしいかもしれません）

```html
<div class="row">
  <div class="col-1" style="border: solid 1px #ddd;">col-1</div>
  <div class="col-11" style="border: solid 1px #ddd;">col-11</div>
  <div class="col-2" style="border: solid 1px #ddd;">col-2</div>
  <div class="col-10" style="border: solid 1px #ddd;">col-10</div>
  <div class="col-3" style="border: solid 1px #ddd;">col-3</div>
  <div class="col-9" style="border: solid 1px #ddd;">col-9</div>
  <div class="col-4" style="border: solid 1px #ddd;">col-4</div>
  <div class="col-8" style="border: solid 1px #ddd;">col-8</div>
  <div class="col-5" style="border: solid 1px #ddd;">col-5</div>
  <div class="col-7" style="border: solid 1px #ddd;">col-7</div>
  <div class="col-6" style="border: solid 1px #ddd;">col-6</div>
  <div class="col-6" style="border: solid 1px #ddd;">col-6</div>
  <div class="col-12" style="border: solid 1px #ddd;">col-12</div>
</div>

```
*/
/*
---
name: Headings
tag:
  - base
category:
  - component
  - component/Typography
---

## 見出し

```html
<div class="article">
  <h1>h1＠ページタイトル</h1>
  <h2>h2＠見出しテキスト</h2>
  <h3>h2＠見出しテキスト</h3>
  <h4>h2＠見出しテキスト</h4>
  <h5>h2＠見出しテキスト</h5>
  <h6>h2＠見出しテキスト</h6>
</div>

```
*/
/*
---
name: Alignment classes
tag:
  - base
category:
  - component
  - component/Typography
---

## 見出し

```html
<div class="article">
  <p class="txtLeft">左寄せ</p>
  <p class="txtCenter">真ん中寄せ</p>
  <p class="txtRight">右寄せ</p>
</div>

```
*/
/*

---
name: Table
tag:
  - base
category:
  - component
  - component/table
---

## 特に何も指定していないテーブル

```html
<table>
  <caption>table caption</caption>
  <tr>
    <th>th text</th>
    <td>td text</td>
    <td>td text</td>
  </th>
  <tr>
    <th>th text</th>
    <td>td text</td>
    <td>td text</td>
  </th>
  <tr>
    <th>th text</th>
    <td>td text</td>
    <td>td text</td>
  </th>
</table>
```
*/
/*
---
name: break Table
tag:
  - base
category:
  - component
  - component/table
---

## スマホで表示するとセルが分割されるテーブル

```html
<div class="breakTable">
  <table>
    <caption>breakTable caption</caption>
    <tr>
      <th>th text</th>
      <td>td text</td>
      <td>td text</td>
    </th>
    <tr>
      <th>th text</th>
      <td>td text</td>
      <td>td text</td>
    </th>
    <tr>
      <th>th text</th>
      <td>td text</td>
      <td>td text</td>
    </th>
  </table>
</div>
```
*/
